<section class="password_container">
	<div class="password_left">
		<div class="password_left_inner">
			<h2 class="password_head">Hello, Friend!</h2>
			<p><img src="assets/images/signup_icon.png" alt=""></p>
			<p>Enter your personal details and start journey with us</p>
			<button mat-raised-button>SIGN UP</button>
		</div>
	</div>

	<div class="password_right">
		<div class="back_btn">
			<i class="fas fa-arrow-left"></i>
		</div>
		<div class="password_right_inner">
			<h2>MY <span>PASSWORD</span></h2>
			<p>Get help signing in to your account</p>

			<form action="">
				<p>Enter your phone number, email or userID</p>
				<mat-form-field appearance="outline">
					<!-- <mat-label>Username</mat-label> -->
					<input matInput required>
					<mat-error>Error</mat-error>
				</mat-form-field>
				<button class="password_btn" mat-raised-button >NEXT</button>
				<div class="form_info">
					<p>
						By clicking Sign In,you agree to the
						DIGITAX <a href="">Terms of Service</a>, DigiTax <a href="">Terms of Use</a>
						and have read and acknowledge our Privacy Statement
					</p>
				</div>
			</form>
			<p class="signin_copy">Copyright © 2020 Digitax</p>
		</div>
	</div>
</section>