<div class="home_background">
	<img src="assets/images/background.png" alt="" width="100%">
	<div class="banner_inner">
		<div class="ban_text">
			<h2 class="ban_head">Lorem Ipsum $0</h2>
			<p class="ban_text_sub">$0 Fed. $0 State. $0 to File</p>
			<p class="small_text">
				Easily and accurately file <br>
				your Simple tax returs
			</p>
		</div>
		<div class="banner_form">
			<div class="form_box">
				<img src="assets/images/form_img.png" alt="">
				<p class="form_txt_one">welcome to</p>
				<p class="form_txt_two">DIGITAX</p>
				<p><label>Username</label></p>
				
				<mat-form-field appearance="fill">
					<!-- <mat-label>Username</mat-label> -->
					<input matInput placeholder="Sample Name" required>
					<mat-icon matSuffix class="valid">check</mat-icon>
					<mat-error>Error</mat-error>
				</mat-form-field>
				<p><label>Password</label></p>
				
				<mat-form-field appearance="fill">
					<!-- <mat-label>Username</mat-label> -->
					<input type="password" matInput placeholder="Password" required>
					<mat-error>Error</mat-error>
				</mat-form-field>
				<mat-checkbox><span class="remember_txt">Remember Me</span></mat-checkbox>
				<span class="forget_pass">Forgot Password ?</span>
				<button class="login_btn" mat-raised-button>login</button>
				<div class="form_info">
					<p>Dont have an account? <a href="">Sign Up</a></p>
					<p>
						By clicking Sign In,you agree to the
						DIGITAX <a href="">Terms of Service</a>, DigiTax <a href="">Terms of Use</a>
						and have read and acknowledge our Privacy Statement
					</p>
				</div>
				
			</div>
		</div>
	</div>
</div>

<section class="full-width faq_section">
	<h2 class="serve_head">QUESTIONS ? LOOK HERE</h2>
	<p class="serve_sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.</p>

	<mat-tab-group>
		<mat-tab label="TYPE 01">
			<mat-accordion>
				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-tab>
		<mat-tab label="TYPE 02">
			<mat-accordion>
				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-tab>
		<mat-tab label="TYPE 03">
			<mat-accordion>
				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-tab>
		<mat-tab label="TYPE 04">
			<mat-accordion>
				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>

				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry ?
						</mat-panel-title>
						<mat-icon *ngIf="!panelOpenState">add_circle_outline</mat-icon>
						<mat-icon *ngIf="panelOpenState">remove_circle_outline</mat-icon>
					</mat-expansion-panel-header>
					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-tab>
	</mat-tab-group>
</section>

<section class="full-width blue_box">
	<div class="blue_box_inner">
		<div>
			<h2>Start filing for $0 today</h2>
			<p>
				Get your maximum refund with all the deductions<br>
				and credits you deserve
			</p>
		</div>
		<div>
			<button mat-raised-button>GET STARTED</button>
		</div>
		
	</div>
</section>



<section class="full-width">
	<h2 class="serve_head">DIGITax <span class="red_txt">app</span></h2>
	<p class="serve_sub">Easy, dependable, fast, and accurate</p>
	<div class="download_box">
		<div class="download_img">
			<img src="assets/images/smartphone.png" alt="" width="100%">
		</div>
		<div class="download_info">
			<img src="assets/images/digitax_icon.png" alt="">
			<h2 class="serve_head text-left no_margin">DIGITax <span class="red_txt">app</span></h2>
			<p>File Faster and Easier</p>
			<p class="small_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<p class="download_btn">
				<a href=""><img src="assets/images/ap-store.png" alt=""></a>
				<a href=""><img src="assets/images/g-play.png" alt=""></a>
			</p>
		</div>
	</div>
</section>
