<section class="signUp_container">
	<div class="signup_left">
		<div class="signup_left_inner">
			<h2 class="signUp_head">Hello, Friend!</h2>
			<p><img src="assets/images/signup_icon.png" alt=""></p>
			<p>Enter your personal details and start journey with us</p>
			<a routerLink="/signup"><button mat-raised-button>SIGN UP</button></a>
		</div>
	</div>

	<div class="signup_right">
		<div class="signup_right_inner">
			<h2>SIGN <span>IN</span></h2>
			<p>Hello! Let's get Started</p>

			<form [formGroup]="loginForm"  (ngSubmit)="submit()">
				<p>Email</p>
				<mat-form-field appearance="outline">
					<!-- <mat-label>Username</mat-label> -->
					<input matInput formControlName="email"  placeholder="sample@email.com" required>
					<mat-icon matSuffix  class="valid">check</mat-icon>
					<mat-error>Enter valid email ID</mat-error>
				</mat-form-field>

				<p>Password</p>
				<mat-form-field appearance="outline">
					<input type="Password" formControlName="password" matInput placeholder="Password" required>
					<mat-error>Enter valid Password(must be 6 character)</mat-error>
				</mat-form-field>

				<mat-checkbox formControlName="remember_me" ><span class="remember_txt">Remember Me</span></mat-checkbox>
				<span class="forget_pass">Forgot Password ?</span>
				<button class="login_btn" mat-raised-button >SIGN IN</button>
				<div class="form_info">
					<p>
						By clicking Sign In,you agree to the
						DIGITAX <a href="">Terms of Service</a>, DigiTax <a href="">Terms of Use</a>
						and have read and acknowledge our Privacy Statement
					</p>
				</div>
			</form>
			<p class="signin_copy">Copyright © 2020 Digitax</p>
		</div>
	</div>
</section>

<section class="signin_container">
	
</section>
