<section class="dashboard_section">
	<div class="dashboard_head">
		<div class="search_box">
			<mat-form-field appearance="fill">
				<span matPrefix><img src="assets/images/search_icon.png" alt=""></span>
				<input type="search" matInput placeholder="Search Here">
			</mat-form-field>
		</div>
		<div class="tax_box">
			<img src="assets/images/tax_documents.png" alt="">
			your tax returns and documents
		</div>
	</div>
	<div class="dashboard_body">
		<h2>How did you do your <span class="blue_txt">taxes last year?</span></h2>
		<a routerLink="/survey-step-two"><div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/tax_icon.png" alt="">
				<p>
					Digitax
				</p>
			</div>
		</div></a>

		<a routerLink="/survey-step-two"><div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/other_tax_software_icon.png" alt="">
				<p>
					Other tax<br>software
				</p>
			</div>
		</div></a>

		<a routerLink="/survey-step-two"><div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/accountant_icon.png" alt="">
				<p>
					Accountant/tax<br>pro
				</p>
			</div>
		</div></a>

		<a routerLink="/survey-step-two"><div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/tax_service_icon.png" alt="">
				<p>
					Tax service<br>(H&R Block etc.)
				</p>
			</div>
		</div></a>

		<a routerLink="/survey-step-two"><div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/tax_files_last_year_icon.png" alt="">
				<p>
					Didn't file taxes <br>last year
				</p>
			</div>
		</div></a>

		<a routerLink="/survey-step-two"><div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/other_icon.png" alt="">
				<p>
					Other
				</p>
			</div>
		</div></a>
	</div>
</section>

<div class="dashboard_footer">
	Copyright © 2019-2020 Digitax. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
</div>