<section class="full-width">
	
	<div class="infoBox">
		<div class="myinfo_section">
			<img src="assets/images/personal_info_01.png" alt="" width="80">
			<h2 class="text-center">Update your password</h2>
		</div>
		<form [formGroup]="updatePasswordForm" (ngSubmit)="updatePasswordFormSubmit()" >
			<div class="form_area">
				<p>New password</p>
				<mat-form-field appearance="outline">
					
					<input matInput formControlName="new_password"  [(ngModel)]="new_password" type="password" required>
					<mat-error>Enter valid password</mat-error>
				</mat-form-field>

				<div *ngIf="f.new_password.touched && f.new_password.invalid" class="alert alert-danger">
          
            <div *ngIf="f.new_password.errors.minlength"><mat-error>Enter Password(must be 6 character)</mat-error></div>
            <div *ngIf="f.new_password.errors.cannotContainSpace"><mat-error>The password you submitted contains spaces.</mat-error>
           </div>
        </div>

				<p>Confirm your new password</p>
				<mat-form-field appearance="outline">
					
					<input type="password" matInput formControlName="confirm_password"   [(ngModel)]="confirm_password" required>
					
				</mat-form-field>
				 <div *ngIf="f.confirm_password.errors">
                   <div *ngIf="f.confirm_password.errors.mustMatch"><mat-error>confirm password must match</mat-error></div>
                        </div>
                        <br>

				<p>Current Password</p>
				<mat-form-field appearance="outline">
					
					<input type="password" matInput formControlName="old_password"   [(ngModel)]="old_password" required>
					<mat-error>Enter valid password</mat-error>
				</mat-form-field>
				
				<p class="btn_row">
					<button type="submit" class="save_btn" mat-raised-button [disabled]="!old_password || !new_password || !confirm_password"> Save</button>
					<a routerLink="/signin-security"><button class="cancel_btn" mat-raised-button> Cancel</button></a>
				</p>
			</div>
		</form>
	</div>
</section>