div{
	box-sizing: border-box;
}
.dashboard_section{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background:#e1e7ed;
	float: left;
	box-sizing: border-box;
}
.dashboard_head{
	background:#dbe2e9;
	width: 100%;
	float: left;
	padding: 15px;
}
.search_box,
.tax_box{
	width: 50%;
	float: left;
}
.tax_box{
	text-align: right;
	color: #607d8b;
	font-size: 16px;
	padding: 12px 0;
}
.search_box mat-form-field{
	width: 100%;
}
.search_box .mat-form-field-prefix span img{
	margin-right: 15px;
}
.dashboard_body{
	width: 100%;
	float: left;
	padding: 30px;
}
.dashboard_body h2{
	font-size: 32px;
	font-weight: 500;
}
.dashboard_body h3{
	font-size: 32px;
	font-weight: bold;
	color: #212121;
	margin:10px 0 0 0;
}
.dashboard_body p{
	line-height: 25px;
}
.softwear_subhead{
	font-size: 32px;
	font-weight: bold;
	color: #212121;
	margin:10px 0 0 0;
}
.blue_txt{
	color:#03a9f4;
}
.red_txt{
	color:#e53935;
}
.survey_feedback{
	width: 100%;
	float: left;
	padding: 20px 0;
}
.survey_feedback h2{
	color: #212121;
	text-transform: uppercase;
}
.dashboard_small_box_inner{
	width: 100%;
	min-height: 226px;
	float: left;
	background: #fff;
	border-radius: 8px;
	padding: 30px 100px;
	position: relative;
	color: #607d8b;
	font-size: 16px;
	box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.10);
}
.center_text{
	text-align: center;
}
mat-form-field{
	width: 100%;
}
.mt_50{
	margin-top:50px;
}
.blue_line,
.green_line,
.violet_line,
.orange_line{
	position: absolute;
	left:15px;
	top: 15px;
	width: 50px;
	height: 3px;
}
.blue_line{
	background: #03a9f4;
}
.green_line{
	background: #26dd70;
}
.violet_line{
	background:#ba68c8;
}
.orange_line{
	background:#e65100;
}
.blue_btn{
	border:2px solid #03a9f4;
	border-radius: 8px;
	color: #03a9f4;
	float: right;
	box-shadow: 0 7px 11px 0px rgba(3, 169, 244, 0.44);
}
.blue_btn:hover{
	color: #fff;
	background: #03a9f4;
	transition: all ease-in-out 0.3s; 
}
.back_btn{
	padding: 0;
	border: none;
	background: none;
	float: left;
	box-shadow: none;
	color: #607d8b;
}
.dashboard_footer{
	width: 100%;
	float: left;
	padding: 50px 30px;
	text-align: right;
	color: #607d8b;
	background:#e1e7ed;
}
.dashboard_footer a{
	color: #03a9f4;
	text-decoration: none;
}
.next_step{
	width: 100%;
	float: left;
	padding: 50px 15px;
}
.next_step button{
	
}

@media only screen and (min-width: 769px) and (max-width: 1270px) {
	.dashboard_small_box{
		width: 33%;
	}
}

@media only screen and (min-width: 601px) and (max-width: 768px){
	.dashboard_small_box{
		width: 33%;
	}
	
}

@media only screen and (max-width: 600px){
	.dashboard_body{
		padding: 15px;
	}
	.dashboard_small_box{
		width: 100%;
		padding: 15px 0;
	}
	.dashboard_small_box_inner{
		padding: 30px;
	}
	.dashboard_footer{
		text-align: center;
	}
	.search_box{
		width: 100%;
	}
	.tax_box{
		width: 100%;
		text-align: left;
	}
	.survey_feedback{
		padding: 0;
	}
}