.full-width{
	display: block;
	float: left;
	padding: 0 30px;
	box-sizing: border-box;
	width: 100%;
}
.privacy_section h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.privacy_section p{
	font-size: 16px;
	line-height: 25px;
	color: #607d8b;
}
.privacy_section ul li{
	margin-bottom: 15px;
	color: #607d8b;
}