<section class="tax_prepare_section">
	<div class="tax_prepare_head">
		<div class="search_box">
			<mat-form-field appearance="fill">
				<span matPrefix><img src="assets/images/search_icon.png" alt=""></span>
				<input type="search" matInput placeholder="Search Here">
			</mat-form-field>
		</div>
		<div class="tax_box">
			<img src="assets/images/tax_documents.png" alt="">
			your tax returns and documents
		</div>
	</div>

	<div class="tax_prepare_body">
		<p class="first_p"><span class="black_txt"><strong>Sample Name</strong></span>, Welcome back to your <span class="blue_txt">3rd year</span> with Digitax</p>
		<p class="second_p">Sign now, save time later</p>		

		<div class="table_box">
			<div class="center_txt">				
				<img src="assets/images/document_icon.png" alt="">
			</div>
			<div class="detail_txt">
				
				<p>
					By sharing your tax information with your DigiTax account, you can save timeand effort.
				</p>
				<p>
					With your OK, you can get personalized analysis, strategies, and offers to help you save and manage your money beyond tax prep. This includes things like finding you tax savings, managing your expenses, refinancing your existing loans, and finding government benefits. The hard work will be done for you without you having to re-enter this data.
			  </p>
			 
			       		
			</div>
			<div class="center_txt blue_txt">
				<p (click)="privacyClick()">
					DigiTax values your privacy and works hard to protect your personal information.
				</p>
			</div>
		</div>

		<div class="next_step">
			<p>If you don't see what you're looking for, we'll cover more situations later.</p>

			
			<button mat-raised-button class="blue_btn"   (click)="onNext($event)" #button>Continue<mat-icon>navigate_next</mat-icon> </button>
		</div>
	</div>

	<div class="dashboard_footer">
		Copyright © {{currentYear}} Digitax. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
	</div>

	
</section>