<section class="tax_prepare_section">
	<div class="tax_prepare_head">
		<div class="search_box">
			<mat-form-field appearance="fill">
				<span matPrefix><img src="assets/images/search_icon.png" alt=""></span>
				<input type="search" matInput placeholder="Search Here">
			</mat-form-field>
		</div>
		<div class="tax_box">
			<img src="assets/images/tax_documents.png" alt="">
			your tax returns and documents
		</div>
	</div>

	<div class="tax_prepare_body">
		<p class="first_p"><span class="black_txt"><strong>Sample Name</strong></span>, Welcome back to your <span class="blue_txt">3rd year</span> with Digitax</p>
		<p class="second_p">We just need to sign and date this form below.</p>
		<p class="third_p">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        

        	<form [formGroup]="userForm">
		<div class="table_box">
			<div class="center_txt">
				<h2>LOREM IPSUM SIMPLY <span class="blue_txt">DUMMY TEXT</span></h2>
			</div>
			<div class="form_box">
				<!----print section---->
				<div id="print-section"> 
				<div class="name_box">
					<div>
						<p>Your Name</p>
						<mat-form-field appearance="outline">						
						<input matInput placeholder="First name"  formControlName="first_name" value="{{userFirstName}}"required>
						</mat-form-field>
					</div>
					<div>
						<p>&nbsp;</p>
						<mat-form-field appearance="outline">						
						<input matInput placeholder="Last name" required formControlName="last_name" value="{{userLastName}}">
						</mat-form-field>
					</div>
					
				</div>
				<div class="date_box">
					<p>Today's Date</p>
				<mat-form-field appearance="outline">
					<input matInput [matDatepicker]="userpicker" (click)="userpicker.open()" placeholder="mm/dd/yyyy" formControlName="user_date" >
					<mat-datepicker #userpicker></mat-datepicker>
				</mat-form-field>
				</div>

				<div class="name_box">
					<div>
						<p>Spouse's Name</p>
						<mat-form-field appearance="outline">						
						<input matInput placeholder="First name"  formControlName="spouse_first_name" value="{{spouseFirstName}}">
						</mat-form-field>
					</div>
					<div>
						<p>&nbsp;</p>
						<mat-form-field appearance="outline">						
						<input matInput placeholder="Last name"  formControlName="spouse_last_name" value="{{spouseLastName}}" >
						</mat-form-field>
					</div>
					
				</div>
				<div class="date_box">
					<p>Today's Date</p>
				<mat-form-field appearance="outline">
					<input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="mm/dd/yyyy" formControlName="spouse_date" >
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				</div>

				<!----print section---->
				</div>

				<div class="detail_txt">
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					</p>
					<p class="blue_txt">
						Digitax values your privacy and works hard to protect your info.
					</p>
				</div>
				<div class="button_box">
					<button mat-raised-button class="red_btn" printSectionId="print-section" ngxPrint>Print this page</button>
				</div>
			</div>
			
		</div>



		<div class="next_step">
			<p>If you don't see what you're looking for, we'll cover more situations later.</p>

			<button mat-raised-button class="blue_btn" (click)="userFormSubmit()">Continue <mat-icon>navigate_next</mat-icon></button>
		</div>
		
	
	</form>
	</div>

	<div class="dashboard_footer">
		Copyright © {{currentYear}} {{title}}. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
	</div>

	
</section>