<div class="full_container">
<mat-sidenav-container *ngIf="sidebarShow">
	
		
	<mat-sidenav  #sidenav mode="push" [(opened)]="opened">
		
		<p align="center"><img src="assets/images/digitax_usa_icon.png" alt="digitax_usa" width="165"></p>
		
		<ul class="sidenav" *ngIf="sidebarShow">
			<li><a routerLink="/dashboard" routerLinkActive="active">Tax Home</a></li>
			<li><a routerLink="/tax-prepare-document" routerLinkActive="active">Documents</a></li>
			
			<li><a routerLink="/tax-prepare-profile" routerLinkActive="active">Federal</a></li>
			<li><a routerLink="/tax-prepare-profile" routerLinkActive="active">State</a></li>
			<li><a routerLink="/survey" routerLinkActive="active">Review</a></li>
			<li><a routerLink="/tax-prepare-register" routerLinkActive="active">File</a></li>
			<li><a routerLink="/faq" routerLinkActive="active">Help</a></li>
			<li><a routerLink="/tax-prepare-package" routerLinkActive="active">Tax Tools</a></li>
			<li><a routerLink="/tax-prepare-profile" routerLinkActive="active">Account</a></li>
			<mat-divider></mat-divider>
			<p class="submenu">
				<li><a routerLink="/personal-info" routerLinkActive="active_sub">Profile</a></li>
				
			</p>
			<li><a href="" (click)="onLogout($event)">Sign Out</a></li>
		</ul>
	</mat-sidenav>
	<mat-sidenav-content>
		
		<div class="side_nav">
			<mat-icon aria-hidden="false" (click)="sidenav.open()">dehaze</mat-icon>
		</div>

		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
  <div *ngIf="!sidebarShow" class="main-content">
			<router-outlet></router-outlet>
		</div>
</div>