body{
	margin:0 auto;
	padding: 0;

}
.mat-drawer-container{
	background: #fff;
}
mat-sidenav-container{
	height: 100%
}
mat-sidenav,
mat-sidenav-content{
}
mat-sidenav{
	width: 250px;
	background: #212121;
}
mat-sidenav.mat-drawer.mat-drawer-push{
	background: #fff;
}

.sidenav{
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidenav li{
	padding: 5px 0 6px 20px;
	margin-bottom: 10px;
}
.sidenav li.active{
	position: relative;
}
.sidenav li.active:before{
	content:' ';
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 4px;
	background: #03a9f4;
}
.sidenav li a{
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

.side_nav{
	height: 100%;
	background: #212121;
	float: left;
	color:#fff;
	width: 55px;
	text-align: center;
	position: fixed;
	z-index: 1;

}
.side_nav mat-icon{
	color: #fff;
	margin-top: 80px;
	cursor: pointer;
}
.main-content{
	max-width: 1920px;
	margin: 0 auto;
	padding-left: 55px;
}