<mat-sidenav-container>
	<mat-sidenav #sidenav mode="push" [(opened)]="opened">Sidenav
		<button (click)="sidenav.close()" mat-raised-button> close</button>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">About us</a></li>
			<li><a href="">contact</a></li>
		</ul>
	</mat-sidenav>
	<mat-sidenav-content>
		<!-- <button (click)="opened=!opened" mat-raished-button> MENU</button> -->
		<div class="side_nav">
			<mat-icon aria-hidden="false" (click)="sidenav.open()">dehaze</mat-icon>
		</div>

		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>