.full-width{
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	padding: 0 30px;
	box-sizing: border-box;
	width: 100%;
}
.text-center{
	text-align: center;
}
.myinfo_section{
	width: 100%;
	float: left;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.myinfo_section h2{
	font-size: 20px;
	font-weight: 800;
}
.myinfo_section p{
	font-size: 14px;
}
.infoBox{
	width: 50%;
	padding: 15px;
	margin: 0 auto;
	float: left;
	border-radius: 8px;
	margin-top:40px;
}
.infoBox table{
	width: 100%;
	/*border: 1px solid #dedede;
	border-bottom: none;*/
	border-radius: 8px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);
}
.infoBox table tr th{
	font-weight: 500;
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #dedede;
	font-size: 14px;
}
.infoBox table tr td{
	padding: 15px;
	border-bottom: 1px solid #dedede;
	font-size: 14px;
}
.infoBox table tr td a{
	text-decoration: none;
	color: #03a9f4;
	font-size: 14px;

}


@media only screen and (max-width: 768px){
	.infoBox{
		width: 70%;
	}
}
@media only screen and (max-width: 600px){
	.infoBox{
		width: 100%;
		padding: 0;
	}
	.full-width{
		padding: 15px;
	}
	.infoBox table tr td,
	.infoBox table tr th{
		padding: 10px 8px;
	}
}