<section class="full-width privacy_section">
	<div class="privacy_box">
		<div class="privacy_inner">
			<img src="assets/images/background.png" alt="" width="100%">
		</div>
		<div class="privacy_inner">
			<h2>Tips for using our services</h2>
			<p>We want to make your tax filing experience the easiest and fastest ever! We offer you some of the most powerful tools for filing your taxes accurately and maximizing your returns.</p>
			<a href="" class="detail_btn" mat-raised-button>Learn more about our Terms of Service</a>
		</div>
	</div>

	<div class="privacy_box">
		<div class="privacy_inner">
			<h2>We fight for your right to privacy</h2>
			<p>We use the data you share with us to help improve your tax filing experience, and help you reach your financial goals. You have full control over the data we collect. And can even download, update or delete your data right from DIGITAX Account without having to call or email us.</p>
			<a routerLink="/privacy-statement" href=""  class="detail_btn" mat-raised-button>Go to Privacy Statement</a>
		</div>
		<div class="privacy_inner">
			<img src="assets/images/background.png" alt="" width="100%">
		</div>
	</div>

	<div class="privacy_box">
		<div class="privacy_inner">
			<img src="assets/images/background.png" alt="" width="100%">
		</div>
		<div class="privacy_inner">
			<h2>We’ll never sell your personal information</h2>
			<p>Transparency and confidentiality is important to Digital Tax USA bottomline. We promise to never sell your personal information, and to give you transparency and control over how your data is shared. To learn more about the data we collect and how we use it, view our <b>Privacy Statement</b>.</p>
		</div>
	</div>

</section>