<section class="dashboard_section">
	<div class="dashboard_head">
		<div class="search_box">
			<mat-form-field appearance="fill">
				<span matPrefix><img src="assets/images/search_icon.png" alt=""></span>
				<input type="search" matInput placeholder="Search Here">
			</mat-form-field>
		</div>
		<div class="tax_box">
			<img src="assets/images/tax_documents.png" alt="">
			your tax returns and documents
		</div>
	</div>
	<div class="dashboard_body">
		<h2>Now let's talk a bit <span class="blue_txt">about your life?</span></h2>
		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/single_icon.png" alt="">
				<p>
					Single
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/married_icon.png" alt="">
				<p>
					Married
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/other_icon.png" alt="">
				<p>
					Accountant/tax<br>pro
				</p>
			</div>
		</div>
	</div>

	<div class="dashboard_body">
		<h2>Did any of these <span class="blue_txt">apply in 2019?</span></h2>
		<p>FYI. Filling return with your better half almost always saves money on your taxes.</p>
		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/children_icon.png" alt="">
				<p>
					Children/<br> Dependents
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/college_student_icon.png" alt="">
				<p>
					College student in<br>family
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/owned_a home_icon.png" alt="">
				<p>
					Owned a home
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/paid_rent_icon.png" alt="">
				<p>
					Paid rent
				</p>
			</div>
		</div>

		<div class="next_step">
			<a [routerLink]="['/survey']"><button mat-raised-button class="back_btn" [disableRipple]="true"><mat-icon>navigate_before</mat-icon> Back </button></a>
			<button mat-raised-button class="blue_btn">Continue <mat-icon>navigate_next</mat-icon></button>
		</div>
	</div>
</section>

<div class="dashboard_footer">
	Copyright © 2019-2020 Digitax. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
</div>