<section class="full-width">
	<!-- <p class="foot_offer">Offer Details and Disclosures</p> -->
	<div class="footer_area">
		<div class="left-side small_div">
			<div class="foot_logo">
				<img src="assets/images/digitax_usa_logo.png" alt="" width="100%">
			</div>
			<div class="foot_info">
				<p class="foot_head">Need Support</p>
				<table class="support_table">
					<tr>
						<td><img src="assets/images/phone.png" alt="">01 234 5678</td>
						<td><img src="assets/images/location.png" alt="">Digitax Office</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="right-side foot_social">
			<p class="foot_head">Follow Us</p>
			<table class="social">
				<tr>
					<td><a href=""><i class="fab fa-facebook-f"></i></a></td>
					<td><a href=""><i class="fab fa-twitter"></i></a></td>
					<td><a href=""><i class="fab fa-instagram"></i></a></td>
					<td><a href=""><i class="fab fa-youtube"></i></a></td>
				</tr>
			</table>
		</div>
		
	</div>

	<div class="footer_menu">
		<div>
			<p class="menu_head">About</p>
			<ul>
				<li><a href="">How Digitax works</a></li>
				<li><a href="">Digitax guarantees</a></li>
				<li><a href="">Digitax security and fraud protection</a></li>
				<li><a href="">Tax forms included with Digitax</a></li>
				<li><a href="">Digitax en español</a></li>
				<li><a href="">Self-employed tax center</a></li>
				<li><a href="">Tax Expert Network</a></li>
				<li><a href="">Tax reform center</a></li>
				<li><a href="">Tax Refund Advance</a></li>
				<li><a href="">E-file Taxes Online</a></li>
				<li><a href="">Intuit CEO, Sasan Goodarzi</a></li>
			</ul>
		</div>

		<div>
			<p>Online Software Product</p>
			<ul>
				<li><a href="">Digitax login</a></li>
				<li><a href="">Compare Digitax products</a></li>
				<li><a href="">All online tax preparation software</a></li>
				<li><a href="">Free Edition tax prep</a></li>
				<li><a href="">Deluxe tax prep to maximize deductions</a></li>
				<li><a href="">Premier investment & rental property tax prep</a></li>
				<li><a href="">Self-employed tax prep</a></li>
				<li><a href="">Military tax prep discount</a></li>
				<li><a href="">All Digitax Live Products</a></li>
				<li><a href="">Digitax Live Basic</a></li>
				<li><a href="">Digitax Live Deluxe</a></li>
				<li><a href="">Digitax Live Premier</a></li>
				<li><a href="">Digitax Live Self-Employed</a></li>
			</ul>
		</div>

		<div>
			<p>CD/Download Products</p>
			<ul>
				<li><a href="">Digitax CD/download login</a></li>
				<li><a href="">Compare CD/download products</a></li>
				<li><a href="">All CD/download products</a></li>
				<li><a href="">Check order status</a></li>
				<li><a href="">Digitax Advantage program</a></li>
				<li><a href="">Digitax Business for corps</a></li>
				<li><a href="">Products for previous tax years</a></li>
				<li><a href="">Digitax CD/download support</a></li>
			</ul>
		</div>

		<div>
			<p>Mobile Tax Apps</p>
			<ul>
				<li><a href="">All Digitax mobile apps</a></li>
				<li><a href="">Official Digitax mobile app</a></li>
				<li><a href="">TaxCaster tax calculator</a></li>
				<li><a href="">ItsDeductible donation tracker app</a></li>
			</ul>
		</div>
	</div>
	<div class="footer_menu">

		<div>
			<p>Help and Support</p>
			<ul>
				<li><a href="">Digitax support</a></li>
				<li><a href="">Contact us</a></li>
				<li><a href="">Digitax Advantage support</a></li>
				<li><a href="">Where's My Refund</a></li>
				<li><a href="">File an IRS tax extension</a></li>
				<li><a href="">Getting started with Digitax</a></li>
				<li><a href="">Refund status support</a></li>
				<li><a href="">Common tax questions</a></li>
				<li><a href="">After filing your taxes</a></li>
			</ul>
		</div>

		<div>
			<p>Tax Tools and Tips</p>
			<ul>
				<li><a href="">All tax tips and videos</a></li>
				<li><a href="">Tax calculators & tools</a></li>
				<li><a href="">TaxCaster tax calculator</a></li>
				<li><a href="">Tax bracket calculator</a></li>
				<li><a href="">Check e-file status refund tracker</a></li>
				<li><a href="">W-4 withholding calculator</a></li>
				<li><a href="">ItsDeductible donation tracker</a></li>
				<li><a href="">Self-employed expense estimator</a></li>
				<li><a href="">Pay NY Estimated Taxes</a></li>
				<li><a href="">Tax Reform Calculator</a></li>
			</ul>
		</div>

		<div>
			<p>Social</p>
			<ul>
				<li><a href="">Digitax customer reviews</a></li>
				<li><a href="">Digitax blog</a></li>
				<li><a href="">Digitax invite-a-friend discount</a></li>
				<li><a href="">Digitax Super Bowl commercial</a></li>
				<li><a href="">Community</a></li>
				<li><a href="">Intuit Tax & Financial Center</a></li>
			</ul>
		</div>

		<div>
			<p>Products</p>
			<ul>
				<li><a href="">Digitax</a></li>
				<li><a href="">Turbo: Free Credit Score</a></li>
				<li><a href="">Mint money manager</a></li>
				<li><a href="">Accounting software</a></li>
				<li><a href="">Payroll services</a></li>
				<li><a href="">QuickBooks Payments</a></li>
				<li><a href="">Professional tax software</a></li>
				<li><a href="">Professional accounting software</a></li>
				<li><a href="">More from Intuit</a></li>
			</ul>
		</div>

	</div>

	<div class="copyright_area">
		<div class="left-float copy_txt">
			Copyright © {{currentYear}} {{title}}. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
		</div>
		<div class="right-float">
			<img src="assets/images/getseal.png" alt="">
		</div>
		
	</div>
	
</section>
