<section class="full-width">
	
	<div class="footer_area">
		<div class="left-side small_div">
			<div class="foot_logo">
				<img src="assets/images/digitax_usa_logo.png" alt="" width="100%">
			</div>
			<div class="foot_info">
				<p class="foot_head">Need Support</p>
				<table class="support_table">
					<tr>
						<td><img src="assets/images/phone.png" alt="">864-427-8545</td>
						<td><img src="assets/images/location.png" alt="">4515 King Kennedy Street Carlisle, SC 29031
</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="right-side foot_social">
			<p class="foot_head">Follow Us</p>
			<table class="social">
				<tr>
					<td><a href=""><i class="fab fa-facebook-f"></i></a></td>
					<td><a href="https://twitter.com/DigitalTaxUSA"><i class="fab fa-twitter"></i></a></td>
					
					<td><a href="https://www.linkedin.com/in/digitaltaxusa/"><i class="fab fa-linkedin-in"></i></a></td>
				</tr>
			</table>
		</div>
		
	</div>

	<div class="footer_menu">
		

		<div>
			<p>Digitax</p>
			<ul>
				<li><a routerLink="/signin">Signin</a></li>
				<li><a routerLink="/signup">Signup</a></li>
				<li><a routerLink="/privacy-policy">Privacy Statement</a></li>
				<li><a routerLink="/terms-service">Terms of Service</a></li>				
			</ul>
		</div>
		<div>
			<p>Help and Support</p>
			<ul>
				
				<li><a routerLink="/contact-us" href="">Contact us</a></li>				
			</ul>
		</div>

		<div>
			<p class="menu_head">About</p>
			<ul>
				<li><a >Digitax</a></li>
				
			</ul>
		</div>

		
	</div>
	<div class="footer_menu">

		

	</div>

	<div class="copyright_area">
		<div class="left-float copy_txt">
			Copyright © {{currentYear}} Digital Tax USA, LLC. All Rights Reserved. <a routerLink="/terms-use"  href="">Terms of Use</a> | <a routerLink="/privacy-policy" href="">Privacy Statement</a>
		</div>
		
		
	</div>
	
</section>
