<section class="signUp_container">
	<div class="signup_left">
		<div class="signup_left_inner">
			<h2>SIGN <span>UP</span></h2>
			<p>Hello! Let’s create account</p>

			<form [formGroup]="signupForm" (ngSubmit)="signupFormSubmit()" >
				

				

				<p>Username</p>
				<mat-form-field appearance="outline">
					
					<input matInput formControlName="username" placeholder="Sample Name" required>
					<mat-icon matSuffix class="valid">check</mat-icon>
                    
					<mat-error>Enter valid username</mat-error>
				</mat-form-field>


				<p>Email</p>
				<mat-form-field appearance="outline">					
					<input matInput formControlName="email" placeholder="sample@email.com" required>					
					<mat-error>Please enter your email address in the format: youremail@example.com.</mat-error>
				</mat-form-field>

				<p>Password</p>
				<mat-form-field appearance="outline">
					<input type="Password"  formControlName="password" matInput placeholder="Password" required>
					
                 <mat-error>Enter valid Password</mat-error>
					
				</mat-form-field>

					<div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          
            <div *ngIf="f.password.errors.minlength"><mat-error>Enter Password(must be 6 character)</mat-error></div>
            <div *ngIf="f.password.errors.cannotContainSpace"><mat-error>The password you submitted contains spaces.</mat-error>
           </div>
        </div>
				

				<p>Phone Number</p>
				<mat-form-field appearance="outline">
					<span matPrefix>+91 &nbsp;</span>
					<input type="tel" formControlName="phone" matInput placeholder="555-555-1234">
					<mat-error>Enter valid Phone Number</mat-error>
				</mat-form-field>	


				
				
				
			

 

				<button class="login_btn" mat-raised-button >SIGN UP</button>
			</form>
			<p class="signin_copy">Copyright &copy; 2020 Digitax</p>
		</div>
	</div>

	<div class="signup_right">
		<div class="signup_right_inner">
			<h2 class="signUp_head">Welcome Back!</h2>
			<p><img src="assets/images/signin_icon.png" alt=""></p>
			<!--<p>To keep connected with us please sign in with your personal info</p>-->

			<p>Have an account already?Let's get you signed in.</p>
			<a routerLink="/signin"><button mat-raised-button>SIGN IN</button></a>
		</div>
	</div>
</section>


