<section class="signUp_container">
	<div class="signup_left">
		<div class="signup_left_inner">
			<h2>SIGN <span>UP</span></h2>
			<p>Hello! Let’s create account</p>
           <ngx-spinner bdColor="black" size="default" type="ball-spin-clockwise">  
    <p style="color: black">Please Wait. </p>  
    </ngx-spinner> 
			<form [formGroup]="signupForm" (ngSubmit)="signupFormSubmit()" >
				

				

				<p>Username</p>
				<mat-form-field appearance="outline">
					
					<input matInput formControlName="username" placeholder="Sample Name" required>
					<mat-icon matSuffix class="valid">check</mat-icon>
                    
					<mat-error>Enter valid username</mat-error>
				</mat-form-field>


				<p>Email</p>
				<mat-form-field appearance="outline">					
					<input matInput formControlName="email" placeholder="sample@email.com" required>					
					<mat-error>Please enter your email address in the format: youremail@example.com.</mat-error>
				</mat-form-field>

				

				<p>Password</p>
				<mat-form-field appearance="outline">
					<input type="Password"  formControlName="password" matInput placeholder="Password" required>
					
                 <mat-error>Enter valid Password</mat-error>
					
				</mat-form-field>

					<div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          
            <div *ngIf="f.password.errors.minlength"><mat-error>Enter Password(must be 6 character)</mat-error></div>
            <div *ngIf="f.password.errors.cannotContainSpace"><mat-error>The password you submitted contains spaces.</mat-error>
           </div>
        </div>
				

				<p>Phone Number</p>
				<mat-form-field appearance="outline">
					<span matPrefix>+1 &nbsp;</span>
					<input type="tel" formControlName="phone" matInput placeholder="555-555-1234" maxlength="10" minlength="10" pattern="[0-9]*" digitOnly
                               >
					<mat-error>Enter valid Phone Number</mat-error>
				</mat-form-field>		
				
			

 

				<button class="login_btn" mat-raised-button >SIGN UP</button>
				 
			</form>
			<!--<p class="signin_copy">Copyright &copy; {{currentYear}} {{title}}</p>-->
            <div class="form_info">            	
			<p>
						By clicking Sign Up, you agree to 
						{{privacy_title}} <a href="">Terms of Service</a> and <a href="">Terms of Use</a>.
						And have read and acknowledge our <a routerLink="/privacy-statement" href="">Privacy Statement</a>.
					</p>
				</div>
		</div>
	</div>

	<div class="signup_right">
		<div class="signup_right_inner">
			<h2 class="signUp_head">Welcome Back!</h2>
			<p><img src="assets/images/signin_icon.png" alt=""></p>
			

			<p>Have an account already? Let's get you signed in.</p>
			<a routerLink="/signin"><button mat-raised-button>SIGN IN</button></a>
		</div>
	</div>
</section>


