<section class="dashboard_section">
	<div class="dashboard_head">
		<div class="search_box">
			<mat-form-field appearance="fill">
				<span matPrefix><img src="assets/images/search_icon.png" alt=""></span>
				<input type="search" matInput placeholder="Search Here">
			</mat-form-field>
		</div>
		<div class="tax_box">
			<img src="assets/images/tax_documents.png" alt="">
			your tax returns and documents
		</div>
	</div>
	<div class="dashboard_body">
		<h2>Taxes <span class="blue_txt">Done Easy</span></h2>
		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/deduction_icon.png" alt="">
				<p>
					I want to maximize <br>
					deduction and credits
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/have_a_job_icon.png" alt="">
				<p>
					I have a job<br>
					(received W-2)
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/paid_rent.png" alt="">
				<p>
					I paid rent
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/own_home_icon.png" alt="">
				<p>
					I own a home
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/children_icon.png" alt="">
				<p>
					I have childern or <br>dependents
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/expert_icon.png" alt="">
				<p>
					I want a tax expert to<br>review my return
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/charity_icon.png" alt="">
				<p>
					I donated to<br>charity
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/paying_off_student_icon.png" alt="">
				<p>
					I am paying off<br>student loans
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/stock_icon.png" alt="">
				<p>
					I sold stock or own<br>rental property
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/self_employed_icon.png" alt="">
				<p>
					I am self-employed/<br>freelancer
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/small_business_icon.png" alt="">
				<p>
					I own a small<br>business
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/question_icon.png" alt="">
				<p>
					My life has changed<br>and I have questions
				</p>
			</div>
		</div>

	</div>

	<div class="dashboard_body">
		<h2>Digitax <span class="blue_txt">Software</span></h2>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/simply_free.png" alt="">
				<h3>Free Edition</h3>
				<p class="softwear_subhead">$0.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="blue_btn">Get it Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					Easy prep<br>
					Print and e-file<br>
					Jumpstart you taxes<br>
					photo of your W-2<br>
					-<br>
					-<br>
					-
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/classic.png" alt="">
				<h3>Classic</h3>
				<p class="softwear_subhead">$12.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="blue_btn">Get it Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					350+ tax deductions<br>
					Maximize mortgage<br>
					Property tax deduction<br>
					Turn donation<br>
					-<br>
					-<br>
					-
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/premium.png" alt="">
				<h3>Premium</h3>
				<p class="softwear_subhead">$34.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="blue_btn">Get it Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					Cover stocks, bonds, ESPs<br>
					Auto import of investment<br>
					Covers property income<br>
					Tax deductions<br>
					Account for gains and losses<br>
					-<br>
					-
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/self.png" alt="">
				<h3>Self-Employed</h3>
				<p class="softwear_subhead">$56.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="blue_btn">Get it Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					Easy prep<br>
					Print and e-file<br>
					Jumpstart you taxes<br>
					photo of your W-2<br>
					-<br>
					-<br>
					-
				</p>
			</div>
		</div>
	</div>

	<div class="dashboard_body">
		<h2>Talk to Real <span class="red_txt">CPA</span></h2>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/simply_free.png" alt="">
				<img src="assets/images/live_icon.png" alt="" class="align_right">
				<h3>Free Edition</h3>
				<p class="softwear_subhead">$0.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="red_btn">Live Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					Easy prep<br>
					Print and e-file<br>
					Jumpstart you taxes<br>
					photo of your W-2<br>
					-<br>
					-<br>
					-
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/classic.png" alt="">
				<img src="assets/images/live_icon.png" alt="" class="align_right">
				<h3>Classic</h3>
				<p class="softwear_subhead">$12.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="red_btn">Live Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					350+ tax deductions<br>
					Maximize mortgage<br>
					Property tax deduction<br>
					Turn donation<br>
					-<br>
					-<br>
					-
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/premium.png" alt="">
				<img src="assets/images/live_icon.png" alt="" class="align_right">
				<h3>Premium</h3>
				<p class="softwear_subhead">$34.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="red_btn">Live Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					Cover stocks, bonds, ESPs<br>
					Auto import of investment<br>
					Covers property income<br>
					Tax deductions<br>
					Account for gains and losses<br>
					-<br>
					-
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner">
				<img src="assets/images/self.png" alt="">
				<img src="assets/images/live_icon.png" alt="" class="align_right">
				<h3>Self-Employed</h3>
				<p class="softwear_subhead">$56.00</p>
				<p>Simple Tax Return</p>
				<button mat-raised-button class="red_btn">Live Now <mat-icon>navigate_next</mat-icon></button>
				<p>$0 Fed. $0 State. $0File</p>
				<p>
					Easy prep<br>
					Print and e-file<br>
					Jumpstart you taxes<br>
					photo of your W-2<br>
					-<br>
					-<br>
					-
				</p>
			</div>
		</div>
	</div>
</section>

<div class="dashboard_footer">
	Copyright © 2019-2020 Digitax. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
</div>
