<section class="full-width">
	
	<div class="infoBox">
		<div class="myinfo_section">
			<img src="assets/images/digitax_usa_icon.png" alt="" width="140">
			<h2 class="text-center">Check your phone</h2>
			<p>We sent a code to:</p>
			<p>******{{phoneNumberStorage}}</p>
		</div>
		<form [formGroup]="otpVerificationForm" (ngSubmit)="otpVerifyFormSubmit()">
			<div class="form_area">
				<p class="text-center">
					<img src="assets/images/otp-verify.png" alt="80">
				</p>
				<p>Enter the 6-digit code</p>
				<mat-form-field appearance="outline">
					
					<input #otp  matInput formControlName="verify_code" required maxlength="6" type="password">
					<mat-error>
					The code you entered is invalid.</mat-error>
				</mat-form-field>
				<div>
					<p class="btn_row">
						<button type="submit" class="save_btn" mat-raised-button>Continue</button>


						
						<a [routerLink]="['/mobile-verify']" [state]="{ password:state}">
							Don't recive a code</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</section>