<section class="dashboard_section">
	<div class="dashboard_head">
		<div class="search_box">
			<mat-form-field appearance="fill">
				<span matPrefix><img src="assets/images/search_icon.png" alt=""></span>
				<input type="search" matInput placeholder="Search Here">
			</mat-form-field>
		</div>
		<div class="tax_box">
			<img src="assets/images/tax_documents.png" alt="">
			your tax returns and documents
		</div>
	</div>
	<div class="dashboard_body">
		<h2>Now let's talk a bit <span class="blue_txt">about your life?</span></h2>
		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/college_expenses_icon.png" alt="">
				<p>
					College<br>expenses/tution
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/vehicle_registration_fee_icon.png" alt="">
				<p>
					Vehicle<br>registration fees
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/had_a_job_icon.png" alt="">
				<p>
					Had a job
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/child_care_expenses_icon.png" alt="">
				<p>
					Child-care expenses
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/owned_rental_property_icon.png" alt="">
				<p>
					Owned rental property
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="orange_line"></div>
				<img src="assets/images/donating_to_charity_icon.png" alt="">
				<p>
					Donating to <br>charity
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/bank_account_interest_icon.png" alt="">
				<p>
					Bank account <br>interest
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/cryptocurrency_icon.png" alt="">
				<p>
					I sold or traded<br>Cryptocurrencey
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="blue_line"></div>
				<img src="assets/images/cryptocurrency_icon.png" alt="">
				<p>
					Medical expenses
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="green_line"></div>
				<img src="assets/images/sold_stocks_icon.png" alt="">
				<p>
					Sold stocks or<br>investments
				</p>
			</div>
		</div>

		<div class="dashboard_small_box">
			<div class="dashboard_small_box_inner center_text">
				<div class="violet_line"></div>
				<img src="assets/images/traditional_IRA_icon.png" alt="">
				<p>
					Traditional/Roth IRA<br>constitution
				</p>
			</div>
		</div>
	</div>
</section>

<div class="dashboard_footer">
	Copyright © 2019-2020 Digitax. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
</div>