<section class="tax_prepare_section">
	<div class="tax_prepare_head">
		<div class="search_box">
			<mat-form-field appearance="fill">
				<span matPrefix><img src="assets/images/search_icon.png" alt=""></span>
				<input type="search" matInput placeholder="Search Here">
			</mat-form-field>
		</div>
		<div class="tax_box">
			<img src="assets/images/tax_documents.png" alt="">
			your tax returns and documents
		</div>
	</div>

	<div class="tax_prepare_body">
		<mat-tab-group>
			<mat-tab label="INCOME & EXPENSES">
				<div class="tab_inner">
					<h2>let’s get going on your <span class="blue_txt">income</span></h2>
					<p class="center_align">
						<img src="assets/images/income_icon_blue.png" alt="">
					</p>
					
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					</p>
					<ul class="center_bullet">
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
					</ul>
					<p  class="center_align blue_txt">What’s new about the income tax rates this year.</p>
				</div>
				
			</mat-tab>
			<mat-tab label="DEDUCTION & CREDITS">
				<div class="tab_inner">
					<h2>let’s get going on your <span class="blue_txt">deduction</span></h2>
					<p class="center_align">
						<img src="assets/images/income_icon_blue.png" alt="">
					</p>
					
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					</p>
					<ul class="center_bullet">
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
					</ul>
					<p  class="center_align blue_txt">What’s new about the income tax rates this year.</p>
				</div>
			</mat-tab>
			<mat-tab label="OTHER TAX SITUATIONS">
				<div class="tab_inner">
					<h2>let’s get going on your <span class="blue_txt">tax situations</span></h2>
					<p class="center_align">
						<img src="assets/images/income_icon_blue.png" alt="">
					</p>
					
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					</p>
					<ul class="center_bullet">
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
					</ul>
					<p  class="center_align blue_txt">What’s new about the income tax rates this year.</p>
				</div>
			</mat-tab>
			<mat-tab label="FEDERAL REVIEW">
				<div class="tab_inner">
					<h2>let’s get going on your <span class="blue_txt">federal review</span></h2>
					<p class="center_align">
						<img src="assets/images/income_icon_blue.png" alt="">
					</p>
					
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					</p>
					<ul class="center_bullet">
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
						<li>It is a long established fact that a reader will be distracted by the readable.</li>
					</ul>
					<p  class="center_align blue_txt">What’s new about the income tax rates this year.</p>
				</div>
			</mat-tab>
		</mat-tab-group>

		<div class="next_step">
			<p>If you don't see what you're looking for, we'll cover more situations later.</p>

			<button mat-raised-button class="blue_btn">Let's Start <mat-icon>navigate_next</mat-icon></button>
		</div>
	</div>

	<div class="dashboard_footer">
		Copyright © 2019-2020 Digitax. All Rights Reserved. <a href="">Terms of Use</a> | <a href="">Privacy Statement</a>
	</div>
</section>