<div class="home_background">
	<img src="assets/images/background.png" alt="" width="100%">
	<div class="banner_inner">
		<div class="ban_text">		

			<h2 class="ban_head">Get your maximum  <br> refund, guaranteed!</h2>
			
			<p class="small_text">
				 Quick, simple, secure and 100% accuracy
			</p>
			
		</div>
		<div class="banner_form">
			<div class="form_box">
				<img src="assets/images/form_img.png" alt="">
				<p class="form_txt_one">Welcome to</p>
				<p class="form_txt_two">{{title}}</p>

				<form [formGroup]="loginForm"  (ngSubmit)="loginsubmit()">
				<p><label>Email</label></p>
				
				
				<mat-form-field appearance="fill">
					
					<input matInput placeholder="Sample Name" required formControlName="email" >
					<mat-icon matSuffix class="valid">check</mat-icon>
					<mat-error>Error</mat-error>
				</mat-form-field>
				<p><label>Password</label></p>
				
				<mat-form-field appearance="fill">
					
					<input type="password" matInput placeholder="Password" required formControlName="password" >
					<mat-error>Error</mat-error>
				</mat-form-field>
				<mat-checkbox formControlName="remember_me"><span class="remember_txt">Remember Me</span></mat-checkbox>
				<span class="forget_pass">Forgot Password ?</span>
				<button class="login_btn" mat-raised-button>login</button>
				<div class="form_info">
					<p>Dont have an account? <a routerLink="/signup">Sign Up</a></p>
					<p>
						By clicking Sign In, you agree to
						{{privacy_title}} <a routerLink="/terms-service" href="">Terms of Service</a> and <a routerLink="/terms-use" href="">Terms of Use</a>.
						And have read and acknowledge our <a routerLink="/privacy-statement" href="">Privacy Statement</a>.
					</p>
				</div>
			</form>
				
			</div>
		</div>
	</div>
	
	
</div>



<section class="full-width">
	<div class="connect_section">
		<div class="connect_img">
			<img src="assets/images/live.png" alt="" width="100%">
		</div>
		<div class="connect_txt">
			<img src="assets/images/digitax_usa_icon.png" alt="digitax_usa" width="190">
			<h2 class="connect_head">Talk to Real <span>CPA</span></h2>
			
            <p class="small_text">
				Connect with our live CPAs or EAs to ensure tax filing done right with 100% ease of mind!



			</p>
			
			<button class="get_started" mat-raised-button>Get Started <mat-icon>navigate_next</mat-icon></button>
		</div>
	</div>	
</section>

<section class="full-width">
	<h2 class="serve_head">YOU Served us, let us <span class="blue_txt">serve</span> you</h2>
	<p class="serve_sub">Committed to giving you the right tools at the right price</p>
	<div class="service_flex">
		<div class="serve_flex_inner">
			<div>
				<img src="assets/images/maximum_refund.png" alt="">
				<p class="serve_flex_inner_head">Maximum Refund</p>
				<p class="small_text">Maximize you refund with accurate calculations and deductions.</p>
			</div>
			
		</div>

		<div class="serve_flex_inner">
			<div>
				<img src="assets/images/Detail_review.png" alt="">
				<p class="serve_flex_inner_head">Major Life Changes</p>
				<p class="small_text">We understand that the only thing constant in life is change. We are here to help you understand how these changes affect your taxes.</p>
			</div>
		</div>

		<div class="serve_flex_inner">
			<div>
				<img src="assets/images/calculation.png" alt="">
				<p class="serve_flex_inner_head">Organize Your Tax Documents</p>
				<p class="small_text">Stay organized with the DigiTax mobile app. Easily track and manage your tax documents & receipts with our mobile app.</p>
			</div>
		</div>

		<div class="serve_flex_inner">
			<div>
				<img src="assets/images/life_changes.png" alt="">
				<p class="serve_flex_inner_head">Military</p>
				<p class="small_text">You served us, let us serve you. <a routerLink="/signup">Click here</a> to take advantage of our free product.</p>
			</div>
		</div>

		<div class="serve_flex_inner">
			<div>
				<img src="assets/images/guidance.png" alt="">
				<p class="serve_flex_inner_head">Fastest Tax Filing</p>
				<p class="small_text">Use our proprietary technology to help file your taxes all year long.</p>
			</div>
		</div>
		<div class="serve_flex_inner">
			<div>
				<img src="assets/images/fastest_tax.png" alt="">
				<p class="serve_flex_inner_head">Worry Free Audit Support</p>
				<p class="small_text">We offer audit protection with our advanced integrity features used while completing your taxes.</p>
			</div>
		</div>
	</div>
</section>

<section class="full-width">
	<h2 class="serve_head">How digitax <span class="red_txt">works</span></h2>
	<div class="hdw_area">
		<div>
			<img src="assets/images/account.png" alt="">
			<p class="serve_flex_inner_head">Free Account!
</p>
			<p class="small_text">Free & easy registration process!</p>
		</div>
		<div>
			<img src="assets/images/income.png" alt="">
			<p class="serve_flex_inner_head"> Simple Tax Filing</p>
			<p class="small_text">Easy to navigate filing process.</p>
		</div>
		<div>
			<img src="assets/images/return.png" alt="">
			<p class="serve_flex_inner_head">Download the App</p>
			<p class="small_text"> For tips to maximize your refund, advanced automatic tax reporting features and more!</p>
		</div>
	</div>
</section>

<section class="full-width blue_box">
	<div class="blue_box_inner">
		<div>
			<h2>Start filing for $0 today</h2>
			<p>
				Get your maximum refund with all the deductions<br>
				and credits you deserve
			</p>
		</div>
		<div>
			<button mat-raised-button>GET STARTED</button>
		</div>
		
	</div>
</section>

<section class="full-width mt-50">
	<h2 class="serve_head">Our customers <span class="violet_txt">love</span> us</h2>
	<p class="serve_sub">Committed to giving you the right tools at the right price</p>

	<div class="customer_cmnt_box">
	<ngx-slick-carousel class="carousel" 
		#slickModal="slick-carousel" 
		[config]="slideConfig"
		(init)="slickInit($event)"
		(breakpoint)="breakpoint($event)"
		(afterChange)="afterChange($event)"
		(beforeChange)="beforeChange($event)">

		<div class="customer_cmnt_box_inner slide" ngxSlickItem>
			<div class="customer_box_shadow">
				<div class="customer_img">
					<img src="assets/images/customer-1.png" alt="" width="100%">
				</div>
				<p class="small_text">Lorem Ipsum has been the industry's standard dummy text .</p>
				<p class="customer_name">Sample Name</p>
			</div>
		</div>

		<div class="customer_cmnt_box_inner slide" ngxSlickItem>
			<div class="customer_box_shadow">
				<div class="customer_img">
					<img src="assets/images/customer-2.png" alt="" width="100%">
				</div>
				<p class="small_text">Lorem Ipsum has been the industry's standard dummy text .</p>
				<p class="customer_name">Sample Name</p>
			</div>
		</div>

		<div class="customer_cmnt_box_inner slide" ngxSlickItem>
			<div class="customer_box_shadow">
				<div class="customer_img">
					<img src="assets/images/customer-3.png" alt="" width="100%">
				</div>
				<p class="small_text">Lorem Ipsum has been the industry's standard dummy text .</p>
				<p class="customer_name">Sample Name</p>
			</div>
		</div>

		<div class="customer_cmnt_box_inner slide" ngxSlickItem>
			<div class="customer_box_shadow">
				<div class="customer_img">
					<img src="assets/images/customer-2.png" alt="" width="100%">
				</div>
				<p class="small_text">Lorem Ipsum has been the industry's standard dummy text .</p>
				<p class="customer_name">Sample Name</p>
			</div>
		</div>

	</ngx-slick-carousel>
</div>
	<!--<div class="customer_cmnt_box">
		<div class="customer_cmnt_box_inner">
			<div class="customer_box_shadow">
				<img src="assets/images/qut_blue.png" alt="">
				<div class="customer_img">
					<img src="assets/images/customer-1.png" alt="" width="100%">
				</div>
				<p class="small_text">Lorem Ipsum has been the industry's standard dummy text .</p>
				<p class="customer_name">Sample Name</p>
			</div>
		</div>

		<div class="customer_cmnt_box_inner">
			<div class="customer_box_shadow">
				<img src="assets/images/qut_green.png" alt="">
				<div class="customer_img">
					<img src="assets/images/customer-2.png" alt="" width="100%">
				</div>
				<p class="small_text">Lorem Ipsum has been the industry's standard dummy text .</p>
				<p class="customer_name">Sample Name</p>
			</div>
		</div>

		<div class="customer_cmnt_box_inner">
			<div class="customer_box_shadow">
				<img src="assets/images/qut_red.png" alt="">
				<div class="customer_img">
					<img src="assets/images/customer-3.png" alt="" width="100%">
				</div>
				<p class="small_text">Lorem Ipsum has been the industry's standard dummy text .</p>
				<p class="customer_name">Sample Name</p>
			</div>
			

		</div>
	</div>--->
</section>

<section class="full-width">
	<h2 class="serve_head">{{title}} <span class="red_txt">app</span></h2>
	<p class="serve_sub">Easy, dependable, fast, and accurate</p>
	<div class="download_box">
		<div class="download_img">
			<img src="assets/images/smartphone.png" alt="" width="100%">
		</div>
		<div class="download_info">
			<img src="assets/images/digitax_usa_logo.png" alt="digitax_usa" width="120">
			<h2 class="serve_head text-left no_margin">{{title}} <span class="red_txt">app</span></h2>
			<p>File Faster and Easier</p>
			<p class="small_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<p class="download_btn">
				<a href=""><img src="assets/images/ap-store.png" alt=""></a>
				<a href=""><img src="assets/images/g-play.png" alt=""></a>
			</p>
		</div>
	</div>
</section>
