<section class="full-width">
	
	<div class="infoBox">
		<div class="myinfo_section">
			<img src="assets/images/personal_info_01.png" alt="" width="80">
			<h2 class="text-center">Sign in & Security</h2>
			<p class="text-center">User ID, email, password  and other ways you can access your Digitax Account</p>
		</div>
        
		<button mat-raised-button class="blue_btn"  (click)="download()" #button>download <mat-icon>navigate_next</mat-icon></button>
		 
		<form action="">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<th>Email address</th>
					<td><a routerLink="/update-email">{{emailStorage}}</a></td>
					<td align="right">
						<a routerLink="/update-email">
							<button mat-icon-button><mat-icon>keyboard_arrow_right</mat-icon></button>
						</a>
					</td>
				</tr>
				<tr>
					<th>Password</th>
					<td><a routerLink="/update-password">*******</a></td>
					<td align="right">
						<a routerLink="/update-password">
							<button mat-icon-button><mat-icon>keyboard_arrow_right</mat-icon></button>
						</a>
					</td>
				</tr>
				
				
			</table>
		</form>


	</div>
</section>